!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    %meta{:content => "Antiagent.mobi", :property => "og:site_name"}
    %meta{:content => "http://antiagent.herokuapp.com/", :property => "og:url"}
    %meta{:content => "http://antiagent.herokuapp.com/assets/aa-logo.png", :property => "og:image"}
    %meta{:content => "Антиагент", :property => "og:title"}
    %meta{:content => "Вычисли агента по номеру телефона!", :property => "og:description"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?(:title) ? yield(:title) : "Antiagent"
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    /[if lt IE 9]
      %script{ :src => '//html5shiv.googlecode.com/svn/trunk/html5.js' }
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags
    = yield(:head)
  %body
    %header
      .navbar.navbar-fixed-top
        .navbar-inner
          .container
            = render 'layouts/navigation'
    #main{:role => "main"}
      .container
        .content
          .row
            .span12
              = render 'layouts/messages'
              = yield
    %footer
      .yashare-auto-init{"data-yashareL10n" => "ru", "data-yashareQuickServices" => "facebook,twitter,vkontakte,odnoklassniki", "data-yashareType" => "none"}
    = debug(params) if Rails.env.development?
    / Javascripts placed at the end of the document so the pages load faster
    = javascript_include_tag "application"
    %script{:charset => "utf-8", :src => "//yandex.st/share/share.js", :type => "text/javascript"}